/configstore 
/htop 
/raycast
/sanity
/simple-update-notifier
/yarn
/znt
.DS_Store
/filezilla
/herd-lite
/karabiner
/jgit
/sketchybar
/linearmouse
/neonctl
/fish
/skhd
/wireshark
/GNS3
/graphite
/github-copilot
